:root {
    --Primary-colour: #59CE8F;
    --Hover-colour: #36B671;
    --background-color: #D6FBE6;
}

.container {
    width: 100%;
    padding: 50px;
    background-color: var(--background-color)
}